<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <p>Anh trai co khi bach khoa chuyen sang hoc cntt, Quang Lam</p>    
</body>
</html>